.accident {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #afabab;
}
.accidentTitle,
.accidentauthor,
.accidentisFixed,
.accidentDate {
  text-align: left;
}
.accidentTitle {
  width: 60%;
}
.accidentauthor {
  width: 20%;
}
.accidentisFixed,
.accidentDate {
  width: 10%;
}
.searchWithButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.searhButton {
  margin-left: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #6464db;
  background: transparent;
  color: #6464db;
  border-radius: 20px;
  transition: 0.2s;
}
.searhButton:hover {
  background-color: #6464db;
  color: white;
}
.tableName {
  height: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.doubleArrow {
  width: 14px;
  margin-top: 3px;
}
.accidentTableContainer {
  width: 100%;
  margin-top: 80px;
}
