.inputContainerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Geo Caps";
}
.containerWrapper {
  width: 100%;
}
.inputContainer {
  outline: none;
  position: relative;
  width: 98%;
  height: 100%;
  text-align: center;
}
.input {
  background-color: transparent;
  border-radius: 29px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  font-size: 14px;
  width: 222px;
  height: 40px;
  outline: none;
  padding-left: 10px;
  margin: 4px 0px;
  color: #4e4e4e;
}
.input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.errorTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorText {
  font-family: "Roboto Geo Caps";
  font-size: 15px;
  background-color: #ffffff;
  padding: 8px;
  color: #ef6b85;
  text-align: center;
  width: 100%;
}
.triangle {
  width: 0;
  height: 0;
  border-bottom: 7px solid #ef6b85;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.textAreaInput {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  height: 33px;
  width: calc(100% - 300px);
  outline: none;
  font-size: 20px;
  margin: 4px 0px;
  color: #4e4e4e;
  text-align: center;
  font-family: "Roboto Geo Caps";
}
.icon {
  position: absolute;
  top: calc(50% + 2px);
  right: 0%;
  transform: translate(-50%, -50%);
  color: #a49d9d;
  width: 21px;
  cursor: pointer;
}
.icon:hover {
  color: #554f4f;
}
