.blogBody {
  width: 1018px;
  border: 1.5px solid #aca6a6;
  margin: 9px 0px;
  font-family: "Roboto Geo Nus";
  cursor: text;
  outline: none;
}
@media screen and (max-width: 1018px) {
  .blogBody {
    width: calc(100% - 10px);
  }
}
